<script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="js/sticky-kit.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dashboard2.js"></script>
    <script src="js/echarts-all.js"></script>
    <script src="js/echarts-init.js"></script>
    <script src="js/db.js"></script>
    <script type="text/javascript" src="js/jsgrid.min.js"></script>
    <script src="js/jsgrid-init.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table.ints.js"></script>
    <script src="js/horizontal-timeline.js"></script>
    <script src="js/languages.js"></script>
    <script src="js/web-speech-api.js"></script>
</body>

</html>